.uspp-custom-fields-menu li {
    margin: 0;
    padding: 0;
}
.uspp-custom-fields-menu a {
    border: var(--uspLine300);
    color: var(--uspGray-700);
    padding: 6px 12px;
    background: var(--uspGray-200);
}
.uspp-custom-fields-menu a:hover {
    background: var(--uspGray-100);
    color: var(--uspBlack);
}
