.uspp-bttn__edit-form {
    margin: 0 0 12px;
}
.uspp-public-box #form-field-post_content .button-small {
    border-radius: 2px;
    line-height: 1;
    margin: 3px;
    padding: 6px 9px;
    width: auto;
    font-size: 14px;
}
#form-field-post_content textarea.wp-editor-area {
    background: var(--uspWhite);
    border: 0;
}
.uspp-block-label {
    padding: 12px 0 0;
}
.usp-field.field-post_excerpt .usp-maxlength {
    height: auto;
}
.uspp-public-box .uspp-submit-public-form {
    margin: 12px 0 6px;
    text-align: right;
}
.uspp-public-box .uspp-submit-public-form a {
    margin: 0 0 6px 6px;
}
.uspp-public-form .category-list .child-list-category {
    margin-bottom: 6px;
}
.uspp-public-form .uspp-parent-category {
    font-weight: var(--uspWeight5);
    margin: 12px 0 3px;
}

/* ? */
#uspp-thumbnail-post {
    background: #e5e5e5;
    box-sizing: border-box;
    max-width: 180px;
    padding: 10px;
    text-align: center;
}
#uspp-thumbnail-post .thumbnail-wrapper {
    overflow: hidden;
    position: relative;
}
#uspp-thumbnail-post .thumbnail-image img {
    width: 100%;
}
#uspp-thumbnail-post #uspp-thumbnail-uploader {
    cursor: pointer;
}
#uspp-thumbnail-post .delete-post-thumbnail {
    position: absolute;
    right: 0;
    top: 0;
}
/**/


.ssi-modalOuter.uspp-preview-post a {
    color: var(--uspBlue-500);
}

/*delete-post form*/
.uspp-delete-form {
    border: var(--uspLine200);
    display: none;
    margin-bottom: 12px;
    padding: 12px;
    background: var(--uspGray-50);
}
.uspp-delete-text {
    margin: 0 0 6px;
}
.uspp-reason-bttn {
    margin: 0 6px 6px 0;
}
#uspp-without-notify {
    display: flex;
    margin: 12px 0;
}
